# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeFiles/*
cmake_install.cmake
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
conan.lock
graph_info.json
Makefile
CMakeCache.txt
bin/*
build/*
CMakeSettings.json
.vs/*
out/*